{{ template "header.html" . }}

{{ $user := .appbase.User }}

<div class="menu-flex-container">
    <div onclick="AppInfo()">
        <img src="/media/logo.png" class="menu-logo">
    </div>

    <button class="menubutton" onclick="fetchPage('/app')" title="ctrl + 1">
        <img src="/media/diagram-3.svg" class="btn-img" alt="">
        Start
    </button>

    <div style="flex-grow: 1;"></div>

    {{ if or (eq $user.Role "admin") (eq $user.Role "superuser") }}
    <button class="menubutton" onclick="Tools()">
        <img src="/media/tools.svg" class="btn-img" alt="">
        Tools
    </button>
    {{ end }}

    {{ if eq $user.Role "admin" }}
    <button class="menubutton" onclick="Users()">
        <img src="/media/person-gear.svg" class="btn-img" alt="">
        Users
    </button>
    {{ end }}

    <button class="menubutton" onclick="MyAccount()">
        <div style="padding: 3px;">{{ $user.Email }}</div>
    </button>

    <button class="menubutton-logout" onclick="Logout()" title="ctrl + q">
        <img src="/media/lock.svg" class="btn-img" alt="">
        Logout
    </button>
</div>

<div id="_msg"></div>
<input type="hidden" id="_page" value="" />
