{{ template "header.html" . }}

<div class="menu-flex-container">
    <div class="menubox-logo" onclick="AppInfo()">
        <img src="/media/logo.png" class="menu-logo" alt="Logo">
    </div>

    <div class="menubutton" style="display: flex; align-items: center;" onclick="Start()" title="ctrl + 1">
        <img src="/media/table.svg" class="menu-img" alt="Start">
        <span>Start</span>
    </div>
    
    <div style="flex-grow: 1;"></div>

    {{ if or (eq .user.Role "admin") (eq .user.Role "superuser") }}
    <div class="menubutton" style="display: flex; align-items: center;" onclick="Tools()" title="F4">
        <img src="/media/tools.svg" class="menu-img" alt="Tools">
        <span>Tools</span>
    </div>
    {{ end }}

    {{ if eq .user.Role "admin" }}
    <div class="menubutton" style="display: flex; align-items: center;" onclick="Users()">
        <img src="/media/person-gear.svg" class="menu-img" alt="Users">
        <span>Users</span>
    </div>
    {{ end }}

    <div class="menubutton" style="display: flex; align-items: center;" onclick="MyAccount()">
        <span style="padding: 3px;">{{ .user.Email }}</span>
    </div>

    <div class="menubutton" style="display: flex; align-items: center;" onclick="Logout()" title="ctrl + q">
        <img src="/media/lock.svg" class="menu-img" alt="Logout">
        <span>Logout</span>
    </div>
</div>

<div id="_msg"></div>
<script src="/js/menu.js"></script>
