<input type="hidden" id="_projid" value="{{ .projid }}">
<input type="hidden" id="_content" value="">
<input type="hidden" id="_header" value="">
<input type="hidden" id="_type" value="0">

<button class="menubutton-add" onclick="noteAddUpd('0')">
    <img src="/media/plus-circle.svg">
    New Note
</button>

{{ if .notes }}
<div class="flex-container">
    <div style="margin-bottom: auto;">
        {{ range .notes }}
        <div class="note-view">
            <div class="flex-container note-header-bar">
                <div>
                    <div class="note-type">{{ .Typsub.Name }}</div>
                </div>
                <div class="note-header">{{ .Header }}</div>
                <button class="note-edit-btn" title="Edit Note" onclick="treeData('/note/edit/{{ .UUID }}')">
                    <img src="/media/arrow-right-circle.svg" alt="Edit">
                </button>
            </div>

            <div id="_content-{{ .UUID }}" class="note-content">
                {{ .Content | html }}
            </div>

            <div class="box-meta">
                <div class="flex-container">
                    <span class="meta-label">Created</span>
                    <span>
                        <img src="/media/calendar-day.svg" alt="Created">
                        {{ .CreatedAt.Format "2006-01-02 15:04" }}
                        <img src="/media/person-fill-add.svg" alt="By">
                        {{ .CreatedBy.Email }}
                    </span>
                </div>
                <div class="flex-container">
                    <span class="meta-label">Updated</span>
                    <span>
                        <img src="/media/calendar-day.svg" alt="Updated">
                        {{ .UpdatedAt.Format "2006-01-02 15:04" }}
                        <img src="/media/person-fill-down.svg" alt="By">
                        {{ .UpdatedBy.Email }}
                    </span>
                </div>
                {{ if gt .DeletedbyID 1 }}
                <div class="flex-container">
                    <span class="meta-label">Deleted</span>
                    <span>
                        <img src="/media/calendar-day.svg" alt="Deleted">
                        {{ .DeletedAt.Format "2006-01-02 15:04" }}
                        <img src="/media/person-fill-slash.svg" alt="By">
                        {{ .DeletedBy.Email }}
                    </span>
                </div>
                {{ end }}
            </div>
        </div>
        {{ end }}
    </div>
</div>
{{ else }}
<div class="div-error">
    <span class="error">No notes found.</span>
</div>
{{ end }}

