{{ template "menu.html" . }}

{{ $typ := .typ }}
{{ $sta := .sta }}

{{ if .project }}
<div class="div-header-bold" style="border: 0px;">Edit Project</div>
<div class="box">
    <div>
        Navn
        <input type="text" id="_name" 
            style="width: auto; margin-bottom: 4px;"
            value="{{ .project.Name }}" required>
    </div>
    <div>    
        Type
        <select id="_type">
            {{ range $typ }}
                <option value="{{ .ID }}" {{ if eq .ID $.project.TypsubID }}selected{{ end }}>{{ .Name }}</option>
            {{ end }}
        </select>
        Status
        <select id="_status">
            {{ range $sta }}
            <option value="{{ .ID }}" {{ if eq .ID $.project.StasubID }}selected{{ end }}>{{ .Name }}</option>
            {{ end }}
        </select>
    </div>
    <div>
        <div>Note</div>
        <textarea id="_note" maxlength="255" class="box-text-area">
            {{ .project.Note }}
        </textarea>
    </div>
    <div class="flex-container" style="justify-content: space-between;">
        <div>
            <button class="box-btn" onclick="projUpd('{{ .project.UUID }}')">
                <img src="/media/floppy.svg" class="box-img">
                Save
            </button>
        </div>
        <div>
            <button class="box-btn-del" onclick="projDel('{{ .project.UUID }}')">
                <img src="/media/trash.svg" class="box-img">
                Delete
            </button>
        </div>
    </div>
    <div class="flex-container div-meta" style="justify-content: space-between;">
        <div title="Created By">
            <img src="/media/person-fill-add.svg" class="box-img">
            {{.project.CreatedBy.Email}}
        </div>
        <div title="Updated By">
            <img src="/media/person-fill-down.svg" class="box-img">
            {{.project.UpdatedBy.Email}}
        </div>
        {{if gt .project.DeletedbyID 0}}
        <div title="Deleted By">
            <img src="/media/person-fill-slash.svg" class="box-img">
            {{.project.DeletedBy.Email}}
        </div>
        {{end}}
    </div>
</div>

{{else}}
<div class="div-error">
    <span class="error">Project not found.</span>
</div>
{{ end }}

{{ template "footer.html" . }}