{{ template "menu.html" . }}

{{ if .projects }}

<div class="flex-container" style="justify-content: start;">
    {{ range .projects }}
        <div class="box" onclick="fetchPage('/proj/{{.UUID}}')" style="cursor: pointer; margin-right: 10px; margin-bottom: 10px;">
            <div class="div-header-bold">{{ .Name }}</div>
            <div class="box-content">
                <b>Status:</b> {{ .Stasub.Name }}
                <b>Type:</b> {{ .Typsub.Name }}
            </div>
            <div class="box-content">
                <b>Last Updated:</b> {{ .UpdatedAt.Format "2006-01-02 15:04" }}
            </div>
            <div class="box-content">
                <b>Updated By:</b> {{ .UpdatedBy.Email }}
            </div>
        </div>
    {{end}}
</div>

{{ else }}
<div class="div-error">
    No projects found.
</div>
{{ end }}

<script>
    hideAddProject(false);
</script>