:root {
    --color-primary: #282828;
    --color-secondary: #d3d3d3;
    --color-background: #f0f0f0;
    --color-text: #000;
    --color-border: #282828;
    --color-th: #a0a0a0cf;

    --color-meta: #636363;
}

/* General styles */
html, body {
    margin: 0;
    padding: 0;
    font-size: medium;
    color: var(--color-text);
    background-color: var(--color-background);
    height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif, monospace;
}

input[type="text"],
input[type="date"],
input[type="number"],
input[type="email"],
input[type="password"],
input[type="search"] {
    border-radius: 5px;
    background: var(--color-background);
    color: var(--color-text);
    font-size: large;
    width: 150px;
}

a {
    color: var(--color-secondary);
    text-decoration: none;
}

select {
    margin: 0;
    padding: 2px;
    border: 1px solid var(--color-text);
    background: var(--color-background);
    width: 140px;
}

th,
td {
    padding: 2px 4px;
    border: 2px solid var(--color-primary);
    border-radius: 5px;
    color: var(--color-text);
    background: transparent;
}

th {
    background-color: var(--color-th);
}

td {
    vertical-align: middle;
}

.flex-container {
    display: flex;
    flex-direction: row;
    padding: 0;
    background: transparent;
    border: none;
}

.div-header,
.div-header-bold {
    background: transparent;
    color: var(--color-text);
    font-size: medium;
}

.div-header-bold {
    font-weight: bold;
}

.div-meta {
    font-weight: normal;
    font-size: medium;
    
    color: var(--color-meta);
    background: transparent;

    vertical-align: middle;
}

.div-meta > div {
    display: inline-block;
    margin-right: 5px;
}

.lst-text-area {
    width: 100%;
    
    padding: 1px;
    border-radius: 5px;
    
    background-color: var(--color-background);
    color: var(--color-text);
    
}

.lst-box {
    padding: 2px;
    margin: 3px 5px;

    border-radius: 5px;
    border: 2px solid rgb(160, 160, 160);
    background-color: rgb(200, 200, 200);

    width: fit-content; 

}

.btn-project {
    padding: 2px 5px;
    margin: 0 5px;
    border-radius: 5px;
    border: 2px solid var(--color-border);
    background-color: var(--color-secondary);
    color: var(--color-text);

    font-weight: bold;
    text-align: center;
    
    cursor: pointer;
}
.btn-project:hover {
    background-color: var(--color-background);
    color: var(--color-text);
}