:root {
    --color-primary: #282828;
    --color-secondary: #d3d3d3;
    --color-background: #f0f0f0;
    --color-text: #000;
    --color-border: #282828;
    --color-th: #a0a0a0cf;
    --color-meta: #292828;
    --color-meta-background: #dcdcdc;
    --color-box-border: #a0a0a0;
    --color-box-background: #c8c8c8;
    --color-box-text: #282828;
    --color-box-text-background: #f0f0f0be;
    --color-box-btn-text: #282828;
    --color-box-btn-border: #505050;
    --color-box-btn: #dcdcdc;
    --color-box-btn-del: #ff0a0a;
    --color-box-btn-hover: #c0bfbf;
    --color-box-btn-del-hover: #ff0000;
    --color-box-btn-del-text: #c8c8c8;
    --color-box-btn-del-text-hover: #ff0a0a;
    --color-note-type: #5d5d5c;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: medium;
    color: var(--color-text);
    background: var(--color-background);
    height: 100%;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    padding: 5px;
    font-family: Arial, Helvetica, monospace, sans-serif;
    scroll-behavior: auto;
}

input[type="text"],
input[type="date"],
input[type="number"],
input[type="email"],
input[type="password"],
input[type="search"],
select {
    border-radius: 5px;
    background: var(--color-box-text-background);
    color: var(--color-text);
    padding: 2px;
    border: 1px solid var(--color-text);
}

input[type="text"],
input[type="date"],
input[type="number"],
input[type="email"],
input[type="password"],
input[type="search"] {
    width: 150px;
}

select {
    width: 140px;
    margin: 0;
}

a {
    color: var(--color-secondary);
    text-decoration: none;
}

th,
td {
    padding: 2px 4px;
    border: 2px solid var(--color-primary);
    border-radius: 5px;
    color: var(--color-text);
    background: transparent;
}

th {
    background: var(--color-th);
}

td {
    vertical-align: middle;
}

.flex-container {
    display: flex;
    flex-direction: row;
    
    padding: 0;
    margin: 0;
    gap: 1px;
    align-items: flex-start;

    background: transparent;
    border: none;
}
.flex-container > .container {
    flex: 1;
    margin: 0;
    padding: 1px;

    border: 0px solid var(--color-border);
}

.div-header,
.div-header-bold {
    background: transparent;
    color: var(--color-text);
    font-size: medium;
}

.div-header-bold {
    font-weight: bold;
}

.div-meta {
    font-weight: normal;
    font-size: medium;
    color: var(--color-meta);
    background: transparent;
    vertical-align: middle;
}

.div-meta > div {
    display: inline-block;
    margin-right: 5px;
}

.proj-list-header {
    font-weight: bold;
    font-size: medium;
    color: var(--color-text);
    background: transparent;
    padding: 0px;

    border-bottom: 2px solid black;
}

.box-proj {

    padding: 4px;

    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: var(--color-box-background);

    cursor: pointer; 
    margin: 10px; 
    
    width: fit-content;
    min-width: 150px;
    max-width: 250px;
}

.box-text-area,
.box-note {
    width: 100%;
    border-radius: 5px;
    background: var(--color-box-text-background);
    color: var(--color-text);
}

.box-text-area {
    height: 80px;
    padding: 1px;
    line-height: normal;
    
}

.box-note {
    padding: 2px;
    max-width: 350px;
}

.box {
    padding: 2px;
    border-radius: 5px;
    border: 2px solid var(--color-box-border);
    background: var(--color-box-background);
    width: fit-content;
}

.box-btn,
.box-btn-del {
    margin: 0 0 2px 0;
    padding: 0;
    width: 100px;
    height: 28px;
    border-radius: 5px;
    border: 1px solid var(--color-box-btn-border);
    background: var(--color-box-btn);
    color: var(--color-box-btn-text);
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
}

.box-btn:hover {
    background: var(--color-box-btn-hover);
}

.box-btn-del {
    margin-top: auto;
    margin-bottom: auto;
}

.box-btn-del:hover {
    background: var(--color-box-btn-del-hover);
}

.btn-project {
    padding: 2px 5px;
    margin: 0 5px;
    border-radius: 5px;
    border: 2px solid var(--color-border);
    background: var(--color-secondary);
    color: var(--color-text);
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.btn-project:hover {
    background: var(--color-background);
    color: var(--color-text);
}

.edit-btn,
.note-edit-btn {
    border-radius: 5px;
    border: 2px solid transparent;
    background: transparent;
    cursor: pointer;
}

.edit-btn {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-top: 0;
    padding: 0;
}

.edit-btn:hover,
.note-edit-btn:hover {
    border-color: var(--color-border);
}

.note-edit-btn {
    width: 33px;
    height: 33px;
    margin-top: 4px;
    padding: 2px;
}

.viewTreeData {
    border-left: 4px solid var(--color-border);
    margin: 5px;
    padding-left: 10px;
    height: calc(100vh - 60px);
    overflow-y: auto;
}

.box-meta {
    padding: 2px;
    border: 0 solid var(--color-border);
    border-radius: 5px;
    font-family: monospace;
    font-size: small;
    color: var(--color-meta);
    background: transparent;
    cursor: auto;
    width: fit-content;
}

.box-meta img {
    width: 10px;
    height: 10px;
    margin-right: -2px;
    margin-top: -2px;
    padding: 0;
}

.note-view {
    width: 450px;
    margin-top: 8px;
    padding: 2px;
    border: 1px solid var(--color-border);
    border-radius: 5px;
    background: var(--color-background);
}

.note-type,
.note-header {
    font-weight: bold;
    border: 0;
    margin-top: 3px;
}

.note-type {
    margin: 5px;
    width: fit-content;
    padding: 2px;
    border: 2px solid var(--color-note-type);
    border-radius: 5px;
    color: var(--color-note-type);
    font-family: monospace;
    font-size: large;
}

.note-header {
    width: 100%;
    padding: 2px;
    margin-top: 6px;
    border: 0px solid transparent;
    font-size: large;
}

.note-header-bar {
    background-color: var(--color-box-background);
}

.note-content {
    padding: 2px;
    border-top: 1px solid var(--color-border);
    border-bottom: 1px solid var(--color-border);
    background: var(--color-box-text-background);

    color: var(--color-text);
    font-size: medium;

}
