:root {
    --color-primary: #282828;
    --color-secondary: #d3d3d3;
    --color-background:  rgb(160, 160, 160);
    --color-text: #000;
    --color-border: #646464;
    --color-accent: rgb(160, 160, 160);
    --color-hover: rgb(200, 200, 200);
    --color-button-bg: rgb(180, 180, 180);
    --color-subbutton-bg: #9d9b9b;
    --color-sub-hover: #bcbaba;
    --color-span: #323232;

    --color-menu-bg: rgb(160, 160, 160);
    --color-btn-logout: rgb(180, 180, 180);

    --color-logout-hover: rgba(255, 166, 0, 0.848);
}

/* Flex container styles */
.menu-flex-container,
.menubox,
.err-container {
    display: flex;
    flex-direction: row;
    padding: 2px;
    border-radius: 5px;
    background: var(--color-background);
    border: 2px solid var(--color-border);
}

/* Menu image */
.btn-img {
    width: 15px;
    height: 15px;
    margin-left: 3px;
    background: transparent;
}

.menu-flex-container {
    background: var(--color-menu-bg);
}

/* Text styles */
span {
    font-size: medium;
    color: var(--color-span);
    margin-left: 2px;
    margin-right: 2px;
}

/* Button and logo styles */
.menubutton,
.submenubutton,
.menubutton-logout,
.menu-logo {
    border: 2px solid var(--color-border);
    color: var(--color-span);
    background: var(--color-button-bg);
    margin-right: 5px;
    text-align: center;
    vertical-align: middle;
    align-content: center;
    text-decoration: none;
    font-size: medium;
    cursor: pointer;
    border-radius: 5px;
    width: fit-content;
}

/* Button hover */
.menubutton:hover {
    background: var(--color-hover);
    border-color: black;
}

.menubutton-logout:hover {
    background: var(--color-logout-hover);
}

.submenubutton {
    padding: 2px;
    background: var(--color-subbutton-bg);
}
.submenubutton:hover {
    background: var(--color-sub-hover);
    border-color: var(--color-span);
}

/* Logo specific */
.menu-logo {
    width: 30px;
    height: 30px;
    margin-top: 1px;
}

/* Footer */
.footer {
    background: var(--color-accent);
    color: var(--color-text);
    font-family: monospace;
    font-size: 10px;
    padding: 0 5px;
    width: 99%;
    height: 20px;
    border: 1px solid var(--color-border);
    border-radius: 5px;
    position: fixed;
    bottom: 0;
}