:root {
    --color-primary: #282828;
    --color-secondary: #d3d3d3;
    --color-background: #a0a0a0;
    --color-text: #000;
    --color-border: #646464;
    --color-accent: #a0a0a0;
    --color-hover: #c8c8c8;
    --color-button-bg: #b4b4b4;
    --color-subbutton-bg: #9d9b9b;
    --color-sub-hover: #bcbaba;
    --color-span: #323232;
    --color-menu-bg: #a0a0a0;
    --color-btn-logout: #b4b4b4;
    --color-logout-hover: rgba(255, 166, 0, 0.85);
}

/* Flex containers */
.menu-flex-container,
.menubox,
.err-container {
    display: flex;
    flex-direction: row;
    padding: 2px;
    border-radius: 5px;
    background: var(--color-background);
    border: 2px solid var(--color-border);
}

.menu-flex-container {
    background: var(--color-menu-bg);
}

/* Images */
.btn-img {
    width: 15px;
    height: 15px;
    margin-left: 3px;
    background: transparent;
}

/* Text */
span {
    font-size: medium;
    color: var(--color-span);
    margin: 0 2px;
}

/* Buttons */
.mnubtn,
.submnubtn,
.mnubtn-logout,
.menu-logo {
    border: 2px solid var(--color-border);
    color: var(--color-span);
    background: var(--color-button-bg);
    margin-right: 5px;
    text-align: center;
    vertical-align: middle;
    align-content: center;
    text-decoration: none;
    font-size: medium;
    cursor: pointer;
    border-radius: 5px;
    width: fit-content;
}

.mnubtn:hover {
    background: var(--color-hover);
    border-color: #000;
}

.mnubtn-logout:hover {
    background: var(--color-sub-hover);
}

.submnubtn {
    padding: 2px;
    background: var(--color-subbutton-bg);
}
.submnubtn:hover {
    background: var(--color-sub-hover);
    border-color: var(--color-span);
}

/* Logo */
.menu-logo {
    width: 30px;
    height: 30px;
    margin-top: 1px;
}


footer {
    background: var(--color-background);
    
    border-radius: 15px;
    border: 2px solid var(--color-border);

    padding: 1px 8px;
    margin: 5px;
    font-size: medium;
    color: var(--color-text);

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
