
:root {

    --color-primary: #282828;
    --color-secondary: #d3d3d3;
    --color-background: #f0f0f0;
    --color-text: #000;
    --color-border: #282828;

    --color-tree-text: #f8f9fa;
    --color-tree-border: rgb(160, 160, 160);
    --color-tree-background: #e8e8ea;
}

/* Tree View Styles */
.treeview {
    font-family: Arial, sans-serif;
    background-color: var(--color-tree-background);

    width: 350px;

    padding: 0px;
    margin-bottom: 10px;

    border-radius: 5px;

    border-top: 3px solid var(--color-tree-border);
    border-left: 2px solid var(--color-tree-border);
}


ul {
    list-style-type: none; 
    margin-left: 5px; 
    display: none;
}

.node {
    cursor: pointer;
    display: flex;
    align-items: center;
}

span {
    cursor: pointer; 
    display: flex; 
    align-items: center;
}

span img {
    width: 16px;
    height: 16px;
    margin-right: 2px;
}

.children {
    display: none;
}

.expanded > .children {
    display: block;
}

.child {
    width: 16px; 
    height: 16px; 
    margin-right: 4px;
}