:root {
    --color-primary: #282828;
    --color-text: #000;
    --color-border: #282828;

    --color-tree-text: #4e4f4f;
    --color-tree-border: #a0a0a0;
    --color-tree-background: #eeeef1;
}

/* Tree View Styles */
.tree_view {
    font-family: Arial, monospace, sans-serif;
    width: inherit;
    padding: 0;
    margin-bottom: 10px;
    border-top: 2px solid var(--color-tree-border);
    background-color: var(--color-tree-background);
    color: var(--color-tree-text);
}

.tree_view ul {
    list-style: none;
    margin-left: 5px;
    padding-left: 0;
    display: grid;
}

.node,
.tree_view span {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.tree_view img,
.child {
    width: 16px;
    height: 16px;
    margin-right: 2px;
}

.child {
    margin-right: 4px;
}

.children {
    display: none;
}

.expanded > .children {
    display: block;
}
